{% extends 'base.html' %}

{% block title %}Password Success{% endblock title %}

{% block content %}

<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Password Change Succesful!</h4>

    
    <p>Your password was channged successfully, so read this important alert message. 
        This example text is going to run a bit longer so that you can see how spacing within an alert works 
        with this kind of content.</p>
    <hr>
    <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
  </div>

{% endblock content %}